<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page create post</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/create-new-post.css">
</head>
<body class="container-fluid">
<header class="main_header">
    <div class="wrapper">
        <div class="flexbox main__header-flexbox">

            <div class="main__header-main-menu">
                <div class="main-menu">
                    <img class="menu-icon" src="../../static/media/img/3-lines-menu.svg">
                </div>
            </div>

            <div class="main__header-logo">
                <div class="logo">
                    <img class="logo-img" src="../../static/media/img/logo-img.svg">
                    <span class="logo-text">MediaWiki</span>
                </div>
            </div>

            <div class="main__header-search-mediawiki">
                <form class="form-input-search">
                    <img class="icon-search" src="../../static/media/img/vector-search.png">
                    <input id="search" type="text" name=text" class="search" placeholder="Search MediaWiki">
                    <input type="submit" name="submit" class="submit" value="Search">
                </form>
            </div>

            <div class="main__header-change-language">
                <a href="#" class="change-language">
                    <img class="language-icons" src="../../static/media/img/language.svg">
                    <span>English</span>
                </a>
            </div>

            <div class="main__header-create-account">
                <a href="#" class="create-account">
                    <span>Create account</span>
                </a>
            </div>


            <div class="main__header-more-options">
                <a href="#" class="more-options">
                    <img class="three-dots-icon" src="../../static/media/img/three-dots-svgrepo-com%20(4).svg">
                </a>
            </div>
        </div>

        <div class="main__header-sitenotice">
            <div class="sitenotice">

            </div>
        </div>
    </div>
</header>
<main class="main-content-container">
    <div class="main-content__wrapper">
        <div class="head-title">
            <h1>Project:Sandbox</h1>
        </div>
        <div class="form-create-post">
            <form action="create-new-post" method="post">
                {% csrf_token %}
                <span>Topic</span>
                <input type="text" name="topic">
                <span>Message</span>

                {{ form.foo }}

                <button type="submit">Create Post</button>
            </form>
        </div>
        <div class="page-toolbar">
            <div class="left-navigation-toolbar">

                <ul class="items-toolbar">
                    <li>
                        <a href="#1">MediaWiki.org</a>
                    </li>
                    <li>
                        <a href="#2">Discussion</a>
                    </li>
                </ul>

            </div>
            <div class="right-navigation-toolbar">

                <ul class="items-toolbar">
                    <li>
                        <a href="#3">View history</a>
                    </li>
                    <li>
                        <a href="#4">Edit</a>
                    </li>
                    <li>
                        <a href="#5">Read</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer class="main-footer">
    <div class="text-footer">
        <p>This page was last edited on 5 January 2023, at 23:33.</p>
    </div>
    <div class="nav">

        <nav class="footer__menu">
            <ul class="footer_elements">
                <li>
                    <a href="#">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        About MediaWiki.org
                    </a>
                </li>
                <li>
                    <a href="#">
                        Disclaimers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Code of Conduct
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mobile view
                    </a>
                </li>
                <li>
                    <a href="#">
                        Developers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Statistics
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cookie statement
                    </a>
                </li>

                <div id="footer-icons" class="footer_buttons">
                    <a href="#">
                        <img  src="../../static/media/img/wikimedia-button.png">
                    </a>
                    <a href="#">
                        <img id="button_footer1" src="../../static/media/img/poweredby_mediawiki_88x31.png">
                    </a>
                </div>
            </ul>
        </nav>

    </div>
</footer>
</body>
</html>