{% load static %}
{% block footer %}
<footer class="main-footer">
    <div class="text-footer">
        <p>Text is available under the <a href="#">Creative Commons Attribution-ShareAlike License</a>;
            additional terms may apply. See<a href="#">Terms of Use</a>.  for details.</p>
    </div>
    <div class="nav">

        <nav class="footer__menu">
            <ul class="footer_elements">
                <li>
                    <a href="#">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        About MediaWiki.org
                    </a>
                </li>
                <li>
                    <a href="#">
                        Disclaimers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Code of Conduct
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mobile view
                    </a>
                </li>
                <li>
                    <a href="#">
                        Developers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Statistics
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cookie statement
                    </a>
                </li>

                <div id="footer-icons" class="footer_buttons">
                    <a href="#">
                        <img  src="{% static 'img/wikimedia-button.png' %}">
                    </a>
                    <a href="#">
                        <img id="button_footer1" src="{% static 'img/poweredby_mediawiki_88x31.png' %}">
                    </a>
                </div>
            </ul>
        </nav>

    </div>
</footer>
{% endblock %}