{% load static %}
{% block footer %}
<footer class="main-footer">
    <div class="text-footer">
        <p>Text is available under the <a href="#">Creative Commons Attribution-ShareAlike License</a>;
            additional terms may apply. See<a href="#">Terms of Use</a>.  for details.</p>
    </div>
    <div class="nav">

        <div id="footer-icons" class="footer_buttons">
            <a href="#">
                <img  src="{% static 'img/wikimedia-button.png' %}">
            </a>
            <a href="#">
                <img id="button_footer1" src="{% static 'img/poweredby_mediawiki_88x31.png' %}">
            </a>
        </div>

    </div>
</footer>
{% endblock %}