{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main-page-Wikipedia</title>

    <link rel="stylesheet" href="{% static 'css/main-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="left-menu-panel">
    <div class="left-menu-panel__container">

        <div class="main__header-logo">
            <a href="/">
                
                <div class="logo">
                 
                    <img id="logo-image-Wikipedia" class="logo-img" src="{% static 'img/logo-robot.png' %}">
                    <span class="logo-text">Blockheads</span>
                    
                </div>
                
           </a>
        </div>

    

        <ul class="main_pages_list">
            <li class="items_left_panel">
                <a href="/">Home</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Games</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">New edits</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">New pages</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Random post</a>
            </li>
        </ul>
    </div>
</div>
  <header class="main_header">
    <div class="personal-labels">
      <div class="personal-menu-content">
          <ul class="personal-menu-content-list">
            {% if user.is_authenticated %}
              <li class="user-system">
                  <a href="{% url 'create-new-post' %}" title="">Create Post</a>
              </li>
              <li class="user_system">
                <a href="{% url 'logout' %}" title="">Logout</a>
            </li>
            {% else %}
            <li class="user_system">
                <a href="{% url 'register' %}" title="">Sign Up</a>
            </li>
            <li class="user_system">
                <a href="{% url 'login' %}" title="">Log In</a>
            </li>
            {% endif %}
          </ul>
      </div>
    </div>


    <div class="right-navigation">


        <ul class="left-navigation-content-list">
            <li class="item-left-navigation">
                <a href="#1">Chats</a>
            </li>
            <li class="item-left-navigation">
                <a href="#2">Check code</a>
            </li>
            <li class="item-left-navigation">
                <a href="#2">Check history</a>
            </li>
                    <input id="search" type="text" name="text" class="search" placeholder="Search in Wiki">
                    <input class="search-button" type="submit">
        </ul>
    </div>
  </header>
    <main class="main_body-container">

      <div class="main_top_section">
        <div class="main_head">
            <div class="main_head-text-left">
                <h1>{{ settings.welcome_phrase }}</h1>
                <p>{{ settings.description_site }}</p>
            </div>
        </div>
         <ul class="main_head_menu">

            <li class="item_main-head-menu">
                <a href="/">Content</a>
            </li>
            <li class="item_main-head-menu">
                <a href="{% url 'register' %}">Registration</a>
            </li>
         </ul>
     </div>
     {% for i in posts %}
     <div id="feat-list" class="main-block">
            <div class="main-block-header">
                <a href="{% url 'single-post' i.id %}" class="link-for-post">
                    <h1>{{ i.topic | safe }}</h1>
                    {% if i.media_main_post %}
                    <img class="main-block-image" src="{{ i.media_main_post.url }}">
                    {% else %}
                    {% endif %}
                </a>
            </div>
            <div class="main-block-content">
                <p>{{ i.message | safe }}</p>
            </div>
            <div class="main-block-links">
            </div>
            <div class="main-block-info">
                <p>{{ i.count_views }} views  •</p>
                <p>{{ i.timestamps }}</p>
            </div>
    </div>
    {% endfor %}
           </div>
       </div>

   </main>

   {% include "./general-footer.html" %}
   {{ footer }}

</body>

</html>