{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main-page-Wikipedia</title>

    <link rel="stylesheet" href="{% static 'css/main-page.css' %}">
</head>
<body>
  <div class="left-menu-panel">
    <div class="left-menu-panel__container">

        <div class="main__header-logo">
            <a href="/">
                
                <div class="logo">
                 
                    <img id="logo-image-Wikipedia" class="logo-img" src="{% static 'img/logo-robot.png' %}">
                    <span class="logo-text">Blockheads</span>
                    
                </div>
                
           </a>
        </div>


        <ul class="main_pages_list">
            <li class="items_left_panel">
                <a href="#1">Home</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Actions</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">New edits</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">New pages</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Random article</a>
            </li>


            <li class="items_left_panel">
                <label>Participation</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">Community portal</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Kneipp</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Certificate</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Donate</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Page for media</a>
            </li>


            <li class="items_left_panel">
                <label>Tools</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">Link here</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Related edits</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Special pages</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Permalink</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Info about <br>page</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Element of Vikilani</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Visit statistics</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Link by ID</a>
            </li>


            <li class="items_left_panel">
                <label>Print/Export</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">Create book</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Upload like PDF</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Version for print</a>
            </li>


            <li class="items_left_panel">
                <label>In another projects</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">WikiRepository</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">MediaWiki</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Meta-wiki</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Multilingual<br>Wikisource</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Wikiviews</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Wikitutorial</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">WikiData</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Wikimania</a>
            </li>


            <li class="items_left_panel">
                <label>In other languages</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">العربية</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">English</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Esperanto</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Español</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Eesti</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Suomi</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Français</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Gagauz</a>
            </li>
            
            <li class="items_left_panel">
                <a href="#2">中文</a>
            </li>
            <li class="items_left_panel">
                <a href="#2"><span>Full list</span></a>
            </li>

        </ul>
    </div>
</div>
  <header class="main_header">
    <div class="personal-labels">
      <div class="personal-menu-content">
          <ul class="personal-menu-content-list">
            {% if user.is_authenticated %}
              <li class="user-system">
                  <a href="{% url 'create-new-post' %}" title="">Create Post</a>
              </li>
              <li class="user_system">
                <a href="{% url 'logout' %}" title="">Logout</a>
            </li>
            {% else %}
            <li class="user_system">
                <a href="{% url 'register' %}" title="">Sign Up</a>
            </li>
            <li class="user_system">
                <a href="{% url 'login' %}" title="">Log In</a>
            </li>
            {% endif %}
          </ul>
      </div>
    </div>
    <div class="left-navigation">
        <div class="left-navigation-content">
            <ul class="left-navigation-content-list">
                <li class="item-left-navigation">
                    <a href="#1">Main</a>
                </li>
                <li class="item-left-navigation">
                    <a href="#2">Discussion</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="right-navigation">


        <ul class="left-navigation-content-list">
            <li class="item-left-navigation">
                <a href="#1">Chats</a>
            </li>
            <li class="item-left-navigation">
                <a href="#2">Check code</a>
            </li>
            <li class="item-left-navigation">
                <a href="#2">Check history</a>
            </li>
                    <input id="search" type="text" name="text" class="search" placeholder="Search in Wiki">
                    <input class="search-button" type="submit">
        </ul>
    </div>
  </header>
    <main class="main_body-container">

      <div class="main_top_section">
        <div class="main_head">
            <div class="main_head-text-left">
                <h1>Welcome to <a href="#">Wikipedia</a>,</h1>
                <h2>a free encyclopedia that <a href="#">can be edited by anyone</a>.</h2>
                <p><a href="#">Ukrainian Wikipedia</a> was founded <a href="#">January 30, 2004</a>.</p>
            </div>
             <div class="main_head-text-right">
                 <p>Wednesday, <a href="#">January 4, 2023</a></p>
                 <p><a href="#">1,219,892</a> articles in <a href="#">Ukrainian</a></p>
                 <p><b>154,662</b> registered contributors</p>
                 <p><b>3289</b> of them are active in the last month</p>
             </div>
        </div>
         <ul class="main_head_menu">

            <li class="item_main-head-menu">
                <a href="#2">About Us</a>
            </li>
            <li class="item_main-head-menu">
                <a href="#2">Navigation</a>
            </li>
            <li class="item_main-head-menu">
                <a href="#2">Content</a>
            </li>
            <li class="item_main-head-menu">
                <a href="#2"><b>Create article</b></a>
            </li>
            <li class="item_main-head-menu">
                <a href="#2">Registration</a>
            </li>
            <li class="item_main-head-menu">
                <a href="#2">Help</a>
            </li>
            <li class="item_main-head-menu">
                <a href="#2">Projects</a>
            </li>
         </ul>
     </div>
     {% for i in posts %}
     <div id="feat-list" class="main-block">
            <div class="main-block-header">
                <a href="{% url 'single-post' i.id %}" class="link-for-post">
                    <h1>{{ i.topic | safe }}</h1>
                    {% if i.media %}
                    <img class="main-block-image" src="{{ i.media.url }}">
                    {% else %}
                    {% endif %}
                </a>
            </div>
            <div class="main-block-content">
                <p>{{ i.message | safe }}</p>
            </div>
            <div class="main-block-links">
            </div>
        <p>{{ i.timestamps }}</p>
    </div>
    {% endfor %}
           </div>
       </div>
       <div class="main__bottom">
        <h2>
            <span class="title-main-bottom">Wikipedia is a project&nbsp;
                <div class="logo-link">
                    <a href="#">
                        <img src="{% static 'img/logo-link.png' %}" class="icon-logo-link">
                    </a>
                    <a>&nbsp;Wikimedia Foundation</a>
                </div>
                    &nbsp; is a non-profit organization that takes care of a number of other projects
                </span>
        </h2>

           <div class="main-block-content">
               <div class="main-button-topics-list">
                   <ul>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/vikislovnuk.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wiki Dictionary</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikicutatu.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikiquotes</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikipidruchnuk.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wiki Tutorial</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikidzerela.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikisources</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikinews.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikinews</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikiwersutet.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikiversity</a>
                    </li>

                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikivudu.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikipedia</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/MediaWiki.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">MediaWiki</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikidani.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikidata</a>
                    </li>

                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikishovushe.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikistore</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/wikimandru.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Wikimandra</a>
                    </li>
                    <li>
                        <a href="#" >
                            <img src="{% static 'img/meta-wiki.png' %}" class="main-button-icon-topics">
                        </a>
                        <a href="#">Meta Wiki</a>
                    </li>
                   </ul>
               </div>
           </div>
           <h3>
            <span class="under-title-main-bottom">
                <div class="logo-link">
                    <a href="#">
                        <img src="{% static 'img/logo-link2.png' %}" class="icon2-logo-link">
                    </a>
                    <a>&nbsp;Wikimedia</a>
                </div>
                    &nbsp;is a regional branch of the Wikimedia Foundation
                </span>
           </h3>
       </div>
   </main>

  <footer class="main__footer">
      <div class="nav">
        <div class="text-footer">
            <p>The text is available under the terms of the <a href="#">Creative Commons Attribution-ShareAlike</a> license;
                additional terms and conditions may also apply. For more details, see <a href="#">Terms of Use</a>.</p>
        </div>
          <nav class="main-footer__menu">
              <ul class="footer_elements">
                  <div class="menu-elements">
                    <li>
                      <a href="#">
                          Privacy Policy
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          About Wikipedia
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Disclaimer
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Feedback
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Mobile view
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Developers
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Statistics
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Cookies
                      </a>
                  </li>
                  </div>
                  <div id="footer-icons" class="footer_buttons">
                      <a href="#">
                          <img src="{% static 'img/wikimedia-button.png' %}">
                      </a>
                      <a href="#">
                          <img id="button_footer1" src="{% static 'img/poweredby_mediawiki_88x31.png' %}">
                      </a>
                  </div>
              </ul>
          </nav>

      </div>
  </footer>

</body>

</html>