{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main-page-Wikipedia</title>

    <link rel="stylesheet" href="{% static 'css/main-page.css' %}">
</head>
<body>
  <div class="left-menu-panel">
    <div class="left-menu-panel__container">

        <div class="main__header-logo">
            <a href="/">
                
                <div class="logo">
                 
                    <img id="logo-image-Wikipedia" class="logo-img" src="{% static 'img/logo-robot.png' %}">
                    <span class="logo-text">Blockheads</span>
                    
                </div>
                
           </a>
        </div>


        <ul class="main_pages_list">
            <li class="items_left_panel">
                <a href="#1">Головна сторінка</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Поточні події</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Нові редагування</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Нові сторінки</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Випадкова стаття</a>
            </li>


            <li class="items_left_panel">
                <label>Участь</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">Портал спільноти</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Кнайпа</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Довідка</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Пожертвувати</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Сторінка для медіа</a>
            </li>


            <li class="items_left_panel">
                <label>Інструменти</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">Посилання сюди</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Пов'язані редагування</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Спеціальні сторінки</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Постійне посилання</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Інформація про <br>сторінку</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Елемент Вікіланих</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Статистика відвідувань</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Посилання за ID</a>
            </li>


            <li class="items_left_panel">
                <label>Друк/експорт</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">Створити книгу</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Завантажити як PDF</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Версія до друку</a>
            </li>


            <li class="items_left_panel">
                <label>В інших проєктах</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">Вікісховище</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">MediaWiki</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Мета-вікі</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Багатомовні<br>Вікіджерела</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Віківиди</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікіпідручник</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікідані</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікіманія</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікіновини</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікіцитати</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікіджерела</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікімандри</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Вікісловник</a>
            </li>


            <li class="items_left_panel">
                <label>Іншими мовами</label>
            </li>
            <li class="items_left_panel">
                <a href="#1">العربية</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Беларуская</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Беларуская<br>(тарашкевіца)</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Български</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Català</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Cebuano</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Qırımtatarca</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Čeština</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Dansk</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Deutsch</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">English</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Esperanto</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Español</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Eesti</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Suomi</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Français</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Gagauz</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">עברית</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Hrvatski</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Magyar</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Bahasa Indonesia</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Italiano</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">日本語</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">ქართული</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">한국어</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Latina</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Lietuvių</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Latviešu</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Македонски</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Nederlands</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Norsk bokmål</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Polski</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Português</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Română</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Русский</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Русиньскый</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Magyar</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Srpskohrvatski / <br>српскохрватски</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Slovenčina</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Slovenščina</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Српски / srpski</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Svenska</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Ślůnski</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">తెలుగు</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Türkçe</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">Tiếng Việt</a>
            </li>
            <li class="items_left_panel">
                <a href="#2">中文</a>
            </li>
            <li class="items_left_panel">
                <a href="#2"><span>Повний список</span></a>
            </li>

        </ul>
    </div>
</div>
  <header class="main_header">
    <div class="personal-labels">
      <div class="personal-menu-content">
          <ul class="personal-menu-content-list">
              <li class="user-system">
                  <a href="{% url 'create-new-post' %}" title="">Create Post</a>
              </li>
              <li class="user_system">
                  <a href="{% url 'register' %}" title="">Sign Up</a>
              </li>
              <li class="user_system">
                  <a href="{% url 'login' %}" title="">Log In</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="left-navigation">
        <div class="left-navigation-content">
            <ul class="left-navigation-content-list">
                <li class="item-left-navigation">
                    <a href="#1">Головна</a>
                </li>
                <li class="item-left-navigation">
                    <a href="#2">Обговорення</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="right-navigation">


        <ul class="left-navigation-content-list">
            <li class="item-left-navigation">
                <a href="#1">Чати</a>
            </li>
            <li class="item-left-navigation">
                <a href="#2">Переглянути код</a>
            </li>
            <li class="item-left-navigation">
                <a href="#2">Переглянути історію</a>
            </li>
                    <input id="search" type="text" name=text" class="search" placeholder="Пошук у Вікіпедії">
                    <input class="search-button" type="submit">
        </ul>
    </div>
  </header>
    <main class="main_body-container">

      <div class="main_top_section">
        <div class="main_head">
           <div class="main_head-text-left">
               <h1>Ласкаво просимо до <a href="#">Вікіпедії</a>,</h1>
               <h2>вільної енциклопедії, яку <a href="#">може редаугвати кожен</a>.</h2>
               <p><a href="#">Українська Вікіпедія</a> заснована <a href="#">30 січня 2004</a> року.</p>
           </div>
            <div class="main_head-text-right">
                <p>середа, <a href="#">4 січня 2023</a> року</p>
                <p><a href="#">1 219 892</a> статті <a href="#">українською</a></p>
                <p><b>154 662</b> зареєстровані дописувачі</p>
                <p><b>3289</b> з них активні останнього місяця</p>
            </div>
        </div>
         <ul class="main_head_menu">

             <li class="item_main-head-menu">
                 <a href="#2">Про нас</a>
             </li>
             <li class="item_main-head-menu">
                 <a href="#2">Навігація</a>
             </li>
             <li class="item_main-head-menu">
                 <a href="#2">Зміст</a>
             </li>
             <li class="item_main-head-menu">
                 <a href="#2"><b>Створити статтю</b></a>
             </li>
             <li class="item_main-head-menu">
                 <a href="#2">Реєстрація</a>
             </li>
             <li class="item_main-head-menu">
                 <a href="#2">Довідка</a>
             </li>
             <li class="item_main-head-menu">
                 <a href="#2">Проєкти</a>
             </li>
         </ul>
     </div>
     {% for i in posts %}
     <div id="feat-list" class="main-block">
            <div class="main-block-header">
                <a href="{% url 'single-post' i.id %}" class="link-for-post">
                    <h1>{{ i.topic | safe }}</h1>
                    {% if i.media %}
                    <img class="main-block-image" src="{{ i.media.url }}">
                    {% else %}
                    {% endif %}
                </a>
            </div>
            <div class="main-block-content">
                <p>{{ i.message | safe }}</p>
            </div>
            <div class="main-block-links">
            </div>
        <p>{{ i.timestamps }}</p>
    </div>
    {% endfor %}
           </div>
       </div>
       <div class="main__bottom">
        <h2>
            <span class="title-main-bottom">Вікіпедія є проєктом&nbsp;
            <div class="logo-link">
                <a href="#">
                    <img src="{% static 'img/logo-link.png' %}" class="icon-logo-link">
                </a>
                <a>&nbsp;Фонду Вікімедіа</a>
            </div>
                &nbsp;— неприбуткової організації, яка опікується низкою інших проєктів
            </span>
        </h2>

           <div class="main-block-content">
               <div class="main-button-topics-list">
                   <ul>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/vikislovnuk.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікісловник</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikicutatu.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікіцитати</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikipidruchnuk.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікіпідручник</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikidzerela.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікіджерела</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikinews.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікіновини</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikiwersutet.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Віківерситет</a>
                       </li>

                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikivudu.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Віківиди</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/MediaWiki.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">MediaWiki</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikidani.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікідані</a>
                       </li>

                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikishovushe.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікісховище</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/wikimandru.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Вікімандри</a>
                       </li>
                       <li>
                           <a href="#" >
                               <img src="{% static 'img/meta-wiki.png' %}" class="main-button-icon-topics">
                           </a>
                           <a href="#">Мета-вікі</a>
                       </li>
                   </ul>
               </div>
           </div>
           <h3>
            <span class="under-title-main-bottom">
            <div class="logo-link">
                <a href="#">
                    <img src="{% static 'img/logo-link2.png' %}" class="icon2-logo-link">
                </a>
                <a>&nbsp;Вікімедіа Україна</a>
            </div>
                &nbsp;є регіональним відділенням Фонду Вікімедіа
            </span>
           </h3>
       </div>
   </main>

  <footer class="main__footer">
      <div class="nav">
        <div class="text-footer">
            <p>Текст доступний на умовах ліцензії <a href="#">Creative Commons Attribution-ShareAlike</a>;
                також можуть діяти додаткові умови. Детальніше див. <a href="#">Умови використання</a>.</p>
        </div>
          <nav class="main-footer__menu">
              <ul class="footer_elements">
                  <div class="menu-elements">
                    <li>
                      <a href="#">
                          Політика конфіденційності
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Про Вікіпедію
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Відмова від відповідальності
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Зворотний зв'язок
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Мобільний вигляд
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Розробники
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Статистика
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Куки
                      </a>
                  </li>
                  </div>
                  <div id="footer-icons" class="footer_buttons">
                      <a href="#">
                          <img  src="{% static 'img/wikimedia-button.png' %}">
                      </a>
                      <a href="#">
                          <img id="button_footer1" src="{% static 'img/poweredby_mediawiki_88x31.png' %}">
                      </a>
                  </div>
              </ul>
          </nav>

      </div>
  </footer>

</body>

</html>