{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>

    <link rel="stylesheet" href="{% static 'css/main-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="left-menu-panel">
    <div class="left-menu-panel__container">

        <div class="main__header-logo">
            <a href="/">
                
                <div class="logo">
                 
                    <img id="logo-image-Wikipedia" class="logo-img" src="{% static 'img/logo-robot.png' %}">
                    <span class="logo-text">Blockheads</span>
                    
                </div>
                
           </a>
        </div>

    

        <ul class="main_pages_list">
            <li class="items_left_panel">
                <a href="/">Home</a>
            </li>
            <li class="items_left_panel">
                <a href="{% url 'games' %}">Games</a>
            </li>
            <li class="items_left_panel">
                <a href="{% url 'new-edits' %}">New edits</a>
            </li>
            <li class="items_left_panel">
                <a href="{% url 'new-games' %}">New games</a>
            </li>
            <li class="items_left_panel">
                <a href="{% url 'randome-game' %}">Random game</a>
            </li>
        </ul>
    </div>
</div>
  <header class="main_header">


    <div class="right-navigation">


        <ul class="left-navigation-content-list">
            {% if user.is_authenticated %}
                <li class="item-left-navigation">
                    <a href="{% url 'create-new-post' %}" title="">Create Post</a>
                </li>
                <li class="item-left-navigation">
                    <a href="{% url 'logout' %}" title="">Logout</a>
                </li>
            {% else %}
                <li class="item-left-navigation">
                    <a href="{% url 'register' %}" title="">Sign Up</a>
                </li>
                <li class="item-left-navigation">
                    <a href="{% url 'login' %}" title="">Log In</a>
                </li>
            {% endif %}
        </ul>
    </div> 
  </header>
    <main class="main_body-container">


        {% for i in new_posts %}
            <div class="main-block">
                    <div class="main-block-header">
                        <a href="{% url 'single-post' i.id %}" class="link-for-post">
                            <h1>{{ i.topic | safe }}</h1>
                        </a>
                    </div>
                    <div class="main-block-links">
                    </div>
                    <div class="main-block-info">
                        <p>{{ i.count_views }} views  •</p>
                        <p>{{ i.created }}</p>
                    </div>
            </div>
        {% endfor %}

   </main>

   {% include "./general-footer.html" %}
   {{ footer }}

</body>

</html>