{% load static %}
{% block sidebar %}

<div class="sidebar-single-post">

    {% if post.media_sidebar %}
        <img src="{{ post.media_sidebar.url }}" alt="">
    {% endif %}
    <p><b>Developers:</b> <span>{{ post.developers }}</span></p>
    <p><b>Publishers:</b> <span>{{ post.publishers }}</span></p>
    <p><b>Genre(s):</b> <span>{{ post.genres }}</span></p>
    <p><b>Release date:</b> <span>{{ post.release_dates }}</span></p>
    <p><b>Game modes:</b> <span>{{ post.game_modes }}</span></p>
    <p><b>Platforms:</b> <span>{{ post.platforms }}</span></p>
    <span></span>

</div>

{% endblock %}