{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>page_Separate-post</title>

    <link rel="stylesheet" href="{% static 'css/single-post.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container-fluid" >

  <header class="main_header">
    <div class="wrapper">
        <div class="flexbox main__header-flexbox">

            <div class="main__header-main-menu">
                <div class="main-menu">
                    <img class="menu-icon" src="{% static 'img/3-lines-menu.svg' %}">
                </div>
            </div>

            <div class="main__header-logo">
                <a href="/">
                    <div class="logo">
                        <img class="logo-img" src="{% static 'img/logo-robot.png' %}">
                        <span class="logo-text">Blockheads</span>
                    </div>
                </a>
            </div>

            <div class="main__header-search-mediawiki">
                <form class="form-input-search">
                    <img class="icon-search" src="{% static 'img/vector-search.png' %}">
                    <input id="search" type="text" name="text" class="search" placeholder="Search MediaWiki">
                    <input type="submit" name="submit" class="submit" value="Search">
                </form>
            </div>

            <div class="main__header-change-language">
                <a href="#" class="change-language">
                    <img class="language-icons" src="{% static 'img/language.svg' %}">
                    <span>English</span>
                </a>
            </div>

            {% if user.is_authenticated %}
                <div class="main__header-create-account">
                    <a href="{% url 'logout' %}" class="create-account">
                        <span>Logout</span>
                    </a>
                </div>
            {% else %}
                <div class="main__header-create-account">
                    <a href="{% url 'register' %}" class="create-account">
                        <span>Create account</span>
                    </a>
                </div>
            {% endif %}


            <div class="main__header-more-options">
                <a href="#" class="more-options">
                    <img class="three-dots-icon" src="{% static 'img/three-dots-svgrepo-com%20(4).svg' %}">
                </a>
            </div>
        </div>

        <div class="main__header-sitenotice">
            <div class="sitenotice">

            </div>
        </div>
    </div>
  </header>

  <section class="main-content">
      <div class="main-content__wrapper">
        <div class="head-title">
            <h1>Project:Village Pump</h1>
        </div>
        <div class="page-toolbar">
        <div class="left-navigation-toolbar">

        <ul class="items-toolbar">
            <li>
                <a href="#1">MediaWiki.org</a>
            </li>
            <li>
                <a href="#2">Discussion</a>
            </li>
        </ul>

         </div>
            <div class="right-navigation-toolbar">

                <ul class="items-toolbar">
                    <li>
                        <a href="#3">View history</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-posts-container">
            <div class="flow-board-navigation">
              <div class="navigation_widget">
                 <div class="left-items-navigation">

                     <button class="button-navigation-left" role="button">
                         <img id="navigation-image" src="{% static 'img/navigation.png' %}">
                         <span>Browse topics</span>
                     </button>

                     <button class="button-navigation-right" role="button">
                         <span>Recently active topics</span>
                         <img id="strelka-image" src="{% static 'img/strelka.svg' %}">
                     </button>
                 </div>
             </div>
            </div>

           <div class="flow-board">
               <div class="reply-post-block1">
                   <input id="reply1" type="text" name=text" class="reply1" placeholder="Start a new topic">
               </div>
             <div class="flow-topics">


                <div class="flow-topic-titlebar">
                  <h1>{{ post.topic }}</h1>
                  <p>{{ post.message | safe }}</p>
                    <div class="flow-topic-meta">
                        <span>{{ comments_count }} comments •</span>
                        <span>{{ count_views }} views •</span>
                        <span>{{ time_published }}</span>
                    </div>
                </div>
                
                {% for comm in comments %}


                <div class="flow-post-main">
                    <div class="name-user-post">
                        <a href="#"><h1>{{ comm.user }}</h1></a>
                    </div>
                     <div class="main-content-post">
                         <p>{{ comm.comment }}</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>{{ comm.timestamps }}</p>
                     </div>
                 </div>

                 {% endfor %}

                 <div class="reply-post">
                         <input id="reply" type="text" name="text" class="reply" placeholder="Reply to 'Allow Support on talk pages'">
                 </div>

             </div>
           </div>

            </div>

        </div>
      </div>
  </section>

  {% include "./general-footer.html" %}
  {{ footer }}


</body>
</html>