<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>page_Separate-post</title>

    <link rel="stylesheet" href="../../static/css/single-post.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="container-fluid" >

  <header class="main_header">
    <div class="wrapper">
        <div class="flexbox main__header-flexbox">

            <div class="main__header-main-menu">
                <div class="main-menu">
                    <img class="menu-icon" src="../../static/media/img/3-lines-menu.svg">
                </div>
            </div>

            <div class="main__header-logo">
                <div class="logo">
                    <img class="logo-img" src="../../static/media/img/logo-img.svg">
                    <span class="logo-text">MediaWiki</span>
                </div>
            </div>

            <div class="main__header-search-mediawiki">
                <form>
                    <img class="icon-search" src="../../static/media/img/vector-search.png">
                    <input id="search" type="text" name=text" class="search" placeholder="Search MediaWiki">
                    <input type="submit" name="submit" class="submit" value="Search">
                </form>
            </div>

            <div class="main__header-change-language">
                <a href="#" class="change-language">
                    <img class="language-icons" src="../../static/media/img/language.svg">
                    <span>English</span>
                </a>
            </div>

            <div class="main__header-create-account">
                <a href="#" class="create-account">
                    <span>Create account</span>
                </a>
            </div>


            <div class="main__header-more-options">
                <a href="#" class="more-options">
                    <img class="three-dots-icon" src="../../static/media/img/three-dots-svgrepo-com%20(4).svg">
                </a>
            </div>
        </div>

        <div class="main__header-sitenotice">
            <div class="sitenotice">

            </div>
        </div>
    </div>
  </header>

  <section class="main-content">
      <div class="main-content__wrapper">
        <div class="head-title">
            <h1>Project:Village Pump</h1>
        </div>
        <div class="page-toolbar">
        <div class="left-navigation-toolbar">

        <ul class="items-toolbar">
            <li>
                <a href="#1">MediaWiki.org</a>
            </li>
            <li>
                <a href="#2">Discussion</a>
            </li>
        </ul>

         </div>
            <div class="right-navigation-toolbar">

                <ul class="items-toolbar">
                    <li>
                        <a href="#3">View history</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-posts-container">
            <div class="flow-board-navigation">
              <div class="navigation_widget">
                 <div class="left-items-navigation">

                     <button class="button-navigation-left" role="button">
                         <img id="navigation-image" src="../../static/media/img/navigation.png">
                         <span>Browse topics</span>
                     </button>

                     <button class="button-navigation-right" role="button">
                         <span>Recently active topics</span>
                         <img id="strelka-image" src="../../static/media/img/strelka.svg">
                     </button>
                 </div>
             </div>
            </div>

           <div class="flow-board">
               <div class="reply-post-block1">
                   <input id="reply1" type="text" name=text" class="reply1" placeholder="Start a new topic">
               </div>
             <div class="flow-topics">


                <div class="flow-topic-titlebar">
                  <h1>Allow Support on talk pages</h1>
                    <div class="flow-topic-meta">
                        <span>7 comments •</span>
                        <span>8 hours ago</span>
                        <img src="../../static/media/img/3-points.svg">
                    </div>
                </div>

                 <div class="flow-post-main">
                    <div class="name-user-post">
                        <a href="#"><h1>Lectrician1</h1></a>
                        <img src="../../static/media/img/3-points.svg">
                    </div>
                     <div class="main-content-post">
                         <p>Because adding a "Support" namespace would be too burdensome, could we remove
                             all the usages of Template:Not a support forum and make it policy
                             that talk pages can be allowed for software support?</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>8 days ago</p>
                     </div>
                 </div>

                 <div class="flow-post-main">
                     <div class="name-user-post">
                         <a href="#"><h1>Bawolff</h1></a>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                     <div class="main-content-post">
                         <p>I dont think all would be appropriate, but im fine with specific ones if someone
                             is watching them (especially extensions). The biggest concern
                             is individual talk pages might go unnoticed.</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>8 days ago</p>
                     </div>
                 </div>

                 <div class="flow-post-main">
                     <div class="name-user-post">
                         <a href="#"><h1>Lectrician1</h1></a>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                     <div class="main-content-post">
                         <p>If a question goes unnoticed well then we can direct users to go to Project:Support desk.</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>8 days ago</p>
                     </div>
                 </div>


                 <div class="flow-post-main">
                     <div class="name-user-post">
                         <a href="#"><h1>Legoktm</h1></a>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                     <div class="main-content-post">
                         <p>If the question is unnoticed, then how do we direct those users...?</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>8 days ago</p>
                     </div>
                 </div>


                 <div class="flow-post-main">
                     <div class="name-user-post">
                         <a href="#"><h1>Lectrician1</h1></a>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                     <div class="main-content-post">
                         <p>Could we have a message at the top of talk pages that points users to the Support desk if their question isn't answered there?</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>8 days ago</p>
                     </div>
                 </div>


                 <div class="flow-post-main">
                     <div class="name-user-post">
                         <a href="#"><h1>Dinoguy1000</h1></a>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                     <div class="main-content-post">
                         <p>You've just reinvented Template:Not a support forum, with weaker wording.

                             I don't see why we need to relax things across the whole wiki. If an individual
                             extension's maintainers want to use the extension's talk page as their support channel, that's their choice.</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>8 days ago</p>
                     </div>
                 </div>



                 <div class="flow-post-main">
                     <div class="name-user-post">
                         <a href="#"><h1>Jdforrester (WMF)</h1></a>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                     <div class="main-content-post">
                         <p>I agree with @<a href="#">Dinoguy1000</a>. Not sure there's a need for a general change, but extension maintainers are already welcome to invite support requests there if they wish.</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>a days ago</p>
                     </div>
                 </div>

                 <div class="reply-post">
                         <input id="reply" type="text" name=text" class="reply" placeholder="Reply to 'Allow Support on talk pages'">
                 </div>


                 <div class="flow-topic-titlebar">
                     <div class="done-titlebar">
                        <img src="../../static/media/img/done.svg">
                         <h1>Add "Support" namespace</h1>
                     </div>
                     <div class="flow-topic-meta">
                         <span>4 comments •</span>
                         <span>a hours ago</span>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                 </div>
                 <div id="dop-titlebar" class="flow-topic-titlebar">
                     <div class="done-titlebar">
                         <h1>Summary by Jdforrester (WMF)</h1>
                     </div>
                     <div class="flow-topic-meta">
                         <span>This seems to be declined now.</span>
                     </div>
                 </div>

                 <div class="reply-post">
                     <input id="reply" type="text" name=text" class="reply" placeholder="Reply to 'Add 'Support' namespace'">
                 </div>
                 <div class="flow-topic-titlebar">
                     <div class="done-titlebar">
                         <img src="../../static/media/img/done.svg">
                         <h1>Batch page move</h1>
                     </div>
                     <div class="flow-topic-meta">
                         <span>2 comments •</span>
                         <span>a hours ago</span>
                         <img src="../../static/media/img/3-points.svg">
                     </div>
                 </div>
                 <div id="dop-titlebar" class="flow-topic-titlebar">
                     <div class="done-titlebar">
                         <h1>Summary by Jdforrester (WMF)</h1>
                     </div>
                     <div class="flow-topic-meta">
                         <span>This is not the venue, you need to ask on Phabricator once you've got agreement on that thread.</span>
                     </div>
                 </div>

                 <div class="reply-post">
                     <input id="reply" type="text" name=text" class="reply" placeholder="Reply to 'Batch page move'">
                 </div>



             </div>
           </div>

            <div class="flow-board-right">

            <div class="text-about-board">
               <div class="text-item-board">
                 <img src="../../static/media/img/posts.svg">
                 <h1>About this board</h1>
               </div>
               <div class="closed-icon">
                   <a href="#"><img src="img/closed.svg"></a>
               </div>
           </div>
              <div class="text-item-board">
                  <img src="../../static/media/img/edit.svg">
                  <a href="#"><h2>Edit description</h2></a>
              </div>
            <div class="archive-block">
              <div class="yellow-massage-container">
                  <img id="smile-image" src="../../static/media/img/smile.png">
                  <span>This page is only for discussing issues related to MediaWiki.org site.</span>

                  </div>
                <div class="white-block-right">
                    <span>To get help with MediaWiki <u>software</u>, ask on <a href="#">Project:Support desk</a>.</span>
                    <div class="archive-box-container">
                        <img class="archive-image" src="../../static/media/img/archive.png">
                        <h1>Archives</h1>
                        <li><a href="#">Current issues archive overview</a></li>
                        <input id="search-archives" type="text" name=text" class="search-archives">
                        <button>Search</button>
                    </div>
                </div>

              </div>
                <div class="white-container-block-right"></div>

                <div class="language__wrapper-right-block">
                   <div class="language-block-left">
                       <a href="#"><h1>Other languages:</h1></a>
                   </div>
                    <div class="language-block-right">

                        <a href="#"><b>English</b></a><mark> •</mark>
                        <a href="#">বাংলা</a><mark> •</mark>
                        <a href="#">čeština</a><mark> •</mark>
                        <a href="#">Deutsch</a><mark> •</mark>
                        <a href="#">français</a><mark> •</mark>
                        <a href="#">Bahasa Indonesia</a><mark> •</mark>
                        <a href="#">日本語</a><mark> •</mark>
                        <a href="#">한국어</a><mark> •</mark>
                        <a href="#">svenska</a><mark> •</mark>
                        <a href="#">Türkçe</a><mark> •</mark>
                        <a href="#">українська</a><mark> •</mark>
                        <a href="#">Tiếng Việt</a><mark> •</mark>
                        <a href="#">中文</a><mark> •</mark>

                    </div>
                </div>

                <div class="separator">

                </div>

            </div>

        </div>
      </div>
  </section>

    <footer class="main-footer">
        <div class="text-footer">
            <p>Text is available under the <a href="#">Creative Commons Attribution-ShareAlike License</a>;
                additional terms may apply. See<a href="#">Terms of Use</a>.  for details.</p>
        </div>
        <div class="nav">

            <nav class="footer__menu">
                <ul class="footer_elements">
                    <li>
                        <a href="#">
                            Privacy policy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About MediaWiki.org
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Disclaimers
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Code of Conduct
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mobile view
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Developers
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Statistics
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Cookie statement
                        </a>
                    </li>

                    <div id="footer-icons" class="footer_buttons">
                        <a href="#">
                            <img  src="../../static/media/img/wikimedia-button.png">
                        </a>
                        <a href="#">
                            <img id="button_footer1" src="../../static/media/img/poweredby_mediawiki_88x31.png">
                        </a>
                    </div>
                </ul>
            </nav>

        </div>
    </footer>


</body>
</html>