{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Single game</title>

    <link rel="stylesheet" href="{% static 'css/single-post.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container-fluid" >

  <header class="main_header">
    <div class="wrapper">
        <div class="flexbox main__header-flexbox">

            <div class="main__header-logo">
                <a href="/">
                    <div class="logo">
                        <img class="logo-img" src="{% static 'img/logo-robot.png' %}">
                        <span class="logo-text">Blockheads</span>
                    </div>
                </a>
            </div>


            <div class="navigation">
                <a href="#" class="">
                    <img class="language-icons" src="{% static 'img/language.svg' %}">
                    <span>English</span>
                </a>
    
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="create-account">
                        <span>Logout</span>
                    </a>
                {% else %}
                    <a href="{% url 'register' %}" class="create-account">
                        <span>Create account</span>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="main__header-sitenotice">
            <div class="sitenotice">

            </div>
        </div>
    </div>
  </header>

  <section class="main-content">
      <div class="main-content-single-post">
        <div class="head-title">
            <h1>{{ post.topic }}</h1>
        </div>
        <div class="page-toolbar">
        <div class="left-navigation-toolbar">

         </div>
            <!-- <div class="right-navigation-toolbar">

                <ul class="items-toolbar">
                    <li>
                        <a href="#3">View history</a>
                    </li>
                </ul>
            </div> -->
        </div>

        <div class="main-posts-container">
            </div>

           <div class="flow-board">
             <div class="flow-topics">


                <div class="flow-topic-titlebar">
                    <div class="flow-post-content">
                        
                        <div class="section">
                            <p>{% if post.media_main_post %}
                                <img src="{{ post.media_main_post.url }}" alt="">
                            {% endif %}
                                
                                {{ post.base | safe }}</p>
                        </div>

                        <div class="section">
                            <h2>Gameplay</h2>
                            <hr>
                            <p>{{ post.gameplay | safe }}</p>
                        </div>

                        <div class="section">
                            <h2>Growth</h2>
                            <hr>
                            <p>{{ post.growth | safe }}</p>
                        </div>

                        <div class="section">
                            <h2>Latest Update</h2>
                            <hr>
                            <p>{{ post.latest_update | safe }}</p>
                        </div>

                          <div class="flow-topic-meta">
                              <span>{{ comments_count }} comments •</span>
                              <span>{{ count_views }} views •</span>
                              <span>{{ time_published }}</span>
                          </div>
                    </div>
                    <div class="block-button-update">
                        <a href="{% url 'update-post' post.id %}" class="update-post">Update</a>
                    </div>
                </div>
                
                {% for comm in comments %}


                <div class="flow-post-main">
                    <div class="name-user-post">
                        <a href="#"><h1>{{ comm.user }}</h1></a>
                    </div>
                     <div class="main-content-post">
                         <p>{{ comm.comment }}</p>
                     </div>
                     <div class="undertext-content-post">
                         <a href="#"><span>Reply</span></a>
                         <p>{{ comm.timestamps }}</p>
                     </div>
                 </div>

                 {% endfor %}

                 {% comment %} <div class="reply-post">
                         <input id="reply" type="text" name="text" class="reply" placeholder="Reply to 'Allow Support on talk pages'">
                 </div> {% endcomment %}

             </div>
           </div>

            </div>

        </div>
      </div>

    {% include "./sidebar_single_post.html" %}
    {{ sidebar }}

  </section>

  {% include "./general-footer.html" %}
  {{ footer }}


</body>
</html>