.form-text1 label{
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
}
.form-text{
    margin-bottom: 15px;
}
#captcha{
    margin-bottom: 0;
}
.flexbox{
    justify-content: space-between;
}
.captcha-container{
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #c8ccd1;
    border-radius: 2px;
    padding: 8px;
    text-align: center;

}

.captcha-text-and-reload{

    border: 1px solid #c8ccd1;
    border-radius: 2px 2px 0 0;
    width: 290px;
    background-color: #fff;
    min-height: 95px;

}

.captcha-text-and-reload a{

    position: relative;
    top: 22px;
    left: 113px;
    text-decoration: none;
    color: #0645AD;
    font-family: sans-serif;
    font-size: 12px;

}

.captcha-text-and-reload a:hover{
    text-decoration: 1px underline;
}

.image-captcha-reload{
    background-image: url("/img/refresh.svg") ;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    margin: 0 0 0 3px;
    padding: 1px 2px 1px 12px;
    color: #0645ad;
    cursor: pointer;
}

.input-topic {
    display: grid;
}

.input-topic input{
    margin-top: 5px;
    padding: 5px 0;
}

.input-message {
    margin-top: 15px;
}

.sunnote-form {
    margin-top: 6px;
}

.create-post-button {
    background-color: #3366cc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.form-create-post {

    width: 720px;
    padding: 20px;

}

.enter_captcha-text {
    position: relative;
    bottom: 4px;
    border: 1px solid #c8ccd1;
    border-radius: 2px 2px 0 0;
    margin-top: 2px;
    width: 274px;
    padding: 6px 8px;

}
.captcha-container label{
    font-size: 12px;
    font-family: sans-serif;
}
.content__wrapper{
    display: flex;
    margin: 0 auto;
}
.number-text-edit{
    display: flex;
    margin-bottom: 20px;
}
.number-text-edit h3{
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-size: 37px;
    font-weight: 500;
}
.create-benefits-list{
    margin-top: 20px;
}
.number-text-edit p{
    font-family: sans-serif;
    font-size: 17px;
    color: #54595d;
}
.benefits-container{
  margin-left: 115px;
    margin-top: 38px;
}
.benefits-container h2{
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-size: 21px;
}

.edits-and-numbers h3{
    margin-left: 90px;
}
.edits-and-numbers p{
    margin-top: 16px;
    margin-left: 150px;
}

.pages-and-numbers h3{
    margin-left: 120px;
}
.pages-and-numbers p{
    margin-top: 16px;
    margin-left: 150px;
}

.contribute-and-numbers h3{
    margin-left: 140px;
}
.contribute-and-numbers p{
    margin-top: 16px;
    margin-left: 105px;
}
.img-contribute{
    position: relative;
    top: 10px;
   width: 80px;
    height: 50px;
}