{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page - Log in</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container-fluid">
 <header class="main_header">
    <div class="wrapper">
        <div class="flexbox main__header-flexbox">

            <div class="main__header-main-menu">
                <div class="main-menu">
                    <img class="menu-icon" src="{% static 'img/3-lines-menu.svg' %}">
                </div>
            </div>

            <div class="main__header-logo">
                <a href="/">
                    <div class="logo">
                        <img class="logo-img" src="{% static 'img/logo-robot.png' %}">
                        <span class="logo-text">Blockheads</span>
                    </div>
                </a>
            </div>

            <div class="main__header-search-mediawiki">
                <form class="form-input-search">
                    <img class="icon-search" src="{% static 'img/vector-search.png' %}">
                    <input id="search" type="text" name="text" class="search" placeholder="Search MediaWiki">
                    <input type="submit" name="submit" class="submit" value="Search">
                </form>
            </div>

            <div class="main__header-change-language">
                <a href="#" class="change-language">
                    <img class="language-icons" src="{% static 'img/language.svg' %}">
                    <span>English</span>
                </a>
            </div>

            <div class="main__header-create-account">
                <a href="{% url 'register' %}" class="create-account">
                    <span>Create account</span>
                </a>
            </div>


            <div class="main__header-more-options">
                <a href="#" class="more-options">
                    <img class="three-dots-icon" src="{% static 'img/three-dots-svgrepo-com%20(4).svg' %}">
                </a>
            </div>
        </div>

        <div class="main__header-sitenotice">
            <div class="sitenotice">

            </div>
        </div>
    </div>
 </header>
 <main class="main-content">
     <div class="main-content__wrapper">

        <div class="title__log-in">
          <h1>Log in</h1>
        </div>

         <div class="language_links">
             <p>
                 Language: <a href="#" hreflang="de" lang="de">Deutsch</a> |
                 <a href="#" hreflang="en" lang="en"> English</a> |
                 <a href="#" hreflang="es" lang="es"> Esperanto</a> |
                 <a href="#" hreflang="fr" lang="fr"> français</a> |
                 <a href="#" hreflang="es" lang="es"> español</a> |
                 <a href="#" hreflang="it" lang="it"> italiano</a> |
                 <a href="#" hreflang="it" lang="it"> Nederlands</a> |
             </p>
         </div>

         <form class="form-input" action="login" method="post">
            {% csrf_token %}
            <label>Username</label>
              <div class="mw-input-login">
                 <input class="input__username" placeholder="Enter your username" name="username">
              </div>
 
              <label>Password</label>
              <div class="mw-input-login">
                  <input  class="input__username" type="password" placeholder="Enter your password" name="password">
              </div>

              <div class="error-form-data">
                <p class="error-login-data">{{ message }}</p>
              </div>
 
              <div class="mw-checkbox-remember">
                  <input class="remember_checkbox" type="checkbox">
                  <label>Keep me logged in (for up to 365 days)</label>
              </div>
 
              <button class="button__login" type="submit">Log in</button>
 
              <div class="help_under_button">
                <a id="text_help" href="#">Help with logging in</a>
              </div>
              <div class="help_under_button">
                  <a id="text_forget" href="#">Forgot your password?</a>
              </div>
 
              <div class="block_join-mw">
                  <img src="{% static 'img/glyph-people-large.png' %}" class="people">
 
                  <label class="text_on-the-people">Don't have an account?</label>
 
               <button class="button__join-mw" type="submit">Join MediaWiki</button>
              </div>
          </form>

     </div>

 </main>
 <footer class="main-footer">
     <div class="nav">

        <nav class="footer__menu">
            <ul class="footer_elements">
                <li>
                    <a href="#">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        About MediaWiki.org
                    </a>
                </li>
                <li>
                    <a href="#">
                        Disclaimers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Code of Conduct
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mobile view
                    </a>
                </li>
                <li>
                    <a href="#">
                        Developers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Statistics
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cookie statement
                    </a>
                </li>

                <div id="footer-icons" class="footer_buttons">
                  <a href="#">
                    <img  src="{% static 'img/wikimedia-button.png' %}">
                  </a>
                  <a href="#">
                    <img id="button_footer1" src="{% static 'img/poweredby_mediawiki_88x31.png' %}">
                  </a>
                </div>
            </ul>
        </nav>



     </div>
 </footer>
</body>
</html>